*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "苹方 常规";
}
/*导航开始*/
.headers{
    width: 100%;
    height: 32px;
    background: #a9180a;
    border-bottom-color: #a9180a;
}
.headers-box{
    width: 1230px;
    height: 32px;
    margin: 0 auto;
}
.hearders-left{
    width: 218px;
    height: 32px;
    font-size: 12px;
    float: left;
}
.hearders-leftz{
    font-size: 12px;
    color: #ffffff;
    line-height: 32px;
    float: left;
    font-weight: 400;
}
.hearders-left .hearders-lefts{
    color: #ffffff;
    line-height: 32px;
    margin: 0px 10px 0px 20px;
}
.hearders-left .hearders-leftsy{
    color: #ffffff;
    line-height: 32px;
    margin-left: 10px;
}
.hearders-right{
    width: 529px;
    height: 32px;
    font-size: 12px;
    color: white;
    float: right;
    display: flex;
    justify-content: space-between;
}
.hearders-right .hearders-rights{
    line-height: 32px;
    /*padding-left: 10px;*/
    box-sizing: border-box;
    line-height: 32px;
    position: relative;
    width: 74px;
    display: block;
}
.hearders-right .hearders-rights .hearders-righttb{
    line-height: 32px;
    color: white;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}
.hearders-right .hearders-rights .hearders-righti {
    line-height: 32px;
    position: absolute;
    right: 0;
    bottom: -1px;
    color: #bbbbbb;
}
.hearders-righti1{
    padding-right: 10px;
}
.hearders-rightiyc{
    display: none;
}
.hearders-rightsyc{
    width: 96px;
    height: 57px;
    background: white;
    position: absolute;
    top: 32px;
    left: 0;
    padding: 8px 10px;
    box-sizing: border-box;
    display: none;
    z-index: 99;
    border: 1px solid #eeeeee;
}
.hearders-right .hearders-rights .hearders-rightsyc .headers-yc{
    display: block;
    color: #666666;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.hearders-rights:hover{
    background: white;
    color: #FF0036;
}
.hearders-righttb:hover{
    color: #FF0036;
    text-decoration: underline #FF0036;
}
.hearders-right .hearders-rights .hearders-rightsyc .headers-yc:hover{
    color: #ff0036;
    text-decoration:underline #ff0036;
}
.headers-wzdhg{
    font-size: 12px;
    font-weight: 400;
}
/*.hearders-right .hearders-rights:hover{*/
/*    background: white;*/
/*}*/
/*.hearders-right .hearders-rights:hover .hearders-righttb{*/
/*    color: #ff0036;*/
/*    text-decoration:underline #ff0036;*/
/*}*/
.hearders-rightsyc:hover .hearders-righttb{
    text-decoration: none;
}
.hearders-rights:hover .hearders-rightiyc{
    display: block!important;
}
.hearders-rights:hover .hearders-rightsyc{
    display: block;
}
.hearders-rights:hover .hearders-righti{
    display: none;
}
.hearders-rightsyc1{
    width: 84px;
    height: 57px;
}
.headers-gwc{
    line-height: 32px;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 32px;
    position: relative;
    width: 94px;
    display: block;
}
.headers-gwc .hearders-righttb{
    line-height: 32px;
    color: white;
}
.icon-gouwuche{
    font-size: 14px!important;
}
.headers-gwc:hover,.headers-gwc:hover .hearders-righttb{
    color: #ffe013;
}
.headers-sjb{
    width: 72px;
}
.hearder-tbw{
    width: 56px;
}
.headers-sjbx{
    width: 175px;
    height: 227px;
    background: white;
    position: absolute;
    top: 24px;
    left: -50px;
    z-index: 1;
    display: none;
}
.headers-yy{
    box-shadow: 0 0 5px #aaa!important;
    top:26px;
    left: -46px;
}
.headers-jt{
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -2px;
    border-width: 5px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #fff;
}
.headers-sjbxyc{
    width: 175px;
    height: 175px;
    margin: 5px 0 0px;
    background: url("./img/wem.png");
}
.headers-sjbxz{
    width: 145px;
    height: 35px;
    margin: 8px auto 0px;
    background: url("./img/wem.png") no-repeat 0px -185px;
}
.headers-sjb:hover .headers-sjbx{
    display: block;
}
.headers-sjbgg{
    width: 1px;
    height: 14px;
    background: #ccc;
    position: absolute;
    top: 10px;
    left: 0px;
}
.hearders-sjzc{
    width: 144px;
    height: 176px;
    position: absolute;
    right: 0;
    top: 32px;
    z-index: 99;
    /*padding: 8px 10px;*/
    box-sizing: border-box;
    display: none;
    border: 1px solid #eeeeee;
    background: white;
}
.hearders-sjzcs{
    width: 120px;
    height: 114px;
    margin: 0 auto;
    border-bottom: 1px dotted #827777;
}
.sj{
    width: 142px;
    height: 18px;
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 6px;
}
.hearders-sjzcs .sjx{
    display: inline-block;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
    color: #666666!important;
    float: left;
}
.sjx1{
    margin-right: 0px!important;
}
.hearders-sjzcx{
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px dotted #827777;
}
.hearders-sjzcx .sjx{
    display: inline-block;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
    color: #666666!important;
    float: left;
}
.sjx:hover{
    color: #ff0036!important;
    text-decoration:underline #ff0036;
}

.hearders-rights:hover .hearders-sjzc{
    display: block;
}
.hearders-rightsy{
    width: 92px!important;
}
.headers-wzdh{
    font-size: 12px!important;
    float: left;
}
.headers-wzdhh{
    padding-right: 4px;
    box-sizing: border-box;
    padding-left: 6px;
    margin-top: 1px;
}
.hearders-gwcc:hover{
    text-decoration: none;
}
.headers-wzdhi{
    font-size: 16px!important;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    display: block;
    margin-right: 4px;
    float: left;
    box-sizing: border-box;
    padding-top: 1px;
}
.hearders-rights:hover .hearders-righttb{
    color: #ff0036;
}
.headers-wzdhx{
    width: 1200px;
    height: 161px;
    background: white;
    position: absolute;
    right: 0;
    top: 32px;
    border:1px solid #eee;
    box-sizing: border-box;
    padding: 25px 0;
    z-index: 99;
    display: none;
}
.headers-wzdhxz{
    width: 485px;
    height: 110px;
    padding-left: 30px;
    box-sizing: border-box;
    border-right: 1px dotted #827777;
    float: left;
}
.wzdhz{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: 400;
    color: #f56a00;
}
.wzdhzxs{
    float: left;
    width: 90px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    position: relative;
}
.wzdhzxs .wzdhxa{
    font-size: 12px;
    color: #666666;
}
.wzdhzxs .wzdhxa .wzdhxi{
    font-size: 6px;
    color: red;
    position: absolute;
    top: -4px;
    left: 48px;
}
.wzdhzxs .wzdhxa:hover{
    color: #eb2929;
    text-decoration: underline #eb2929;
}
.wzdhz1{
    color: #2263d4!important;
}
.headers-wzdhxy{
    width: 228px;
    height: 110px;
    float: right;
    padding-left: 30px;
    box-sizing: border-box;
}
.fwzn{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: 400;
    color: #666666;
}
.hearders-rights:hover .headers-wzdhx{
    display: block;
}
/*导航结束*!*/
/*搜索开始*/
.middle-box{
    width: 100%;
    height: 130px;
}
.middles{
    width: 1230px;
    height: 130px;
    margin: 0 auto;
    position: relative;
}
.middles-gif{
    width: 290px;
    height: 130px;
    position: absolute;
    left: -40px;
    top: 0;
}
.middles-left{
    width: 1230px;
    height: 106px;
}
.middles-top{
    width: 625px;
    height: 106px;
    margin: 0 auto;
    padding-top: 38px;
    box-sizing: border-box;
}
.middles-top input{
    width: 491px;
    height: 36px;
    border: 2px solid #FF0036;
    padding: 5px 3px 5px 5px;
    box-sizing: border-box;
    float: left;
}
.middlesb{
    width: 134px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    background: #FF0036;
    border: none;
    color: white;
    cursor: pointer;
}
.middles-bottom{
    width: 625px;
    height: 24px;
    font-size: 14px;
    padding-top: 6px;
    box-sizing: border-box;
    margin-left: -12px;
}
.middles-bottoms{
    /*width: 67px;*/
    height: 16px;
    border-right: 1px solid #ccc;
    float: left;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    text-align: center;
    padding: 0 12px;
    box-sizing: border-box;
}
.middles-bottom .middles-bottoma1{
    color: #FF0036!important;
}
.middles-bottoms1{
    border-right: none;
}
.middles-bottoma{
    color: #999999;
}
/*搜索结束*/
/*下整体开始*/
.x-box{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    position: relative;
}
/*下导航开始*/
.main-box{
    width: 100%;
    height: 36px;
    background: #ffffff;
    border-bottom: 1px solid #FF0036;
    box-sizing: border-box;
}
.main-top{
    width: 1250px;
    height: 36px;
    margin: 0 auto;
    padding-left: 16px;
    box-sizing: border-box;
}
.main-topy{
    width: 1030px;
    height: 36px;
    float: right;
    line-height: 36px;
}
.main-topy .main-ten{
    font-size: 16px;
    color: #333333;
    height: 36px;
    float: left;
    line-height: 36px;
    display: block;
    padding: 0 8px;
    box-sizing: border-box;
    font-weight: 400;
}
.main-top .main-topy .main-ten img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
    box-sizing: border-box;
}
.main-ten:hover{
    color: #ff0036;
}
/*下导航结束*/
/*轮播图开始*/
.banner{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.banner:before{
    margin-left: -1015px;
}
.banner:after{
    margin-left:600px;
}
.banners{
    width: 100%;
    height: 500px;
    /*background: blue;*/
}
.banners-z{
    width: 385px;
    height: 500px;
    margin-left: -1015px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
}
.banners-y{
    width: 385px;
    height: 500px;
    margin-left: 600px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
}
.banner-bj{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.banner-bj1{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 500px;
    background: #E8E8E8;
}
.banner .banner-bj .banner-bj2{
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    width: 1230px;
    margin: 0 auto;
    padding-right: 30px;
    cursor: pointer;
}
.banner-bjb{
    background: url(./img/lb5.webp) no-repeat center center;
}
.banner-bjv{
    background: #FFE3E3;
}
.banner-bjb1{
    background: url(./img/lb4.webp) no-repeat center center;
}
.banner-bjv1{
    background: #93DDFD;
}
.banner-bjb2{
    background: url(./img/lb6.webp) no-repeat center center;
}
.banner-bjv2{
    background: #B055FF;
}
.banner-bjv3{
    background: #B8E2FA;
}
.banner-bj1 .banner-bj2 .banner-right{
    width: 220px;
    height: 235px;
    background: white;
    opacity: 0.8;
    position: absolute;
    top: 10px;
    right: 0;
    transition: all .3s linear;
    z-index: 99;
}
.banner-right img{
    width: 100%;
    height: 100%;
}
.banner-right:hover{
    opacity: 1!important;
}
.banner-right1{
    width: 220px;
    height: 235px;
    background: white;
    opacity: 0.8;
    position: absolute;
    bottom: 10px;
    right: 0;
    transition: all .3s linear;
}
.banner-right1 img{
    width: 100%;
    height: 100%;
}
.banner-right1:hover{
    opacity: 1!important;
}
.zdh{
    background-color: rgba(0,0,0,.55);
    width: 200px;
    height: 500px;
}
.banner-dhl{
    width: 100%;
    position: relative;
    height: 400px;
    /*overflow: hidden;*/
}
.banner-dhl1{
    position: absolute;
    /*z-index: 0;*/
    width: 100%;
    height: 400px;
    float: left;
}
.banner-dhl2{
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    width: 1230px;
    margin: 0 auto;
    padding-right: 30px;
    cursor: pointer;
}
.banner-dhl3{
    width: 200px;
    height: 0;
    position: relative;
}
.banner-dhl4{
    margin-left: 20px;
    width: 200px;
    height: 500px;
    background: rgba(0,0,0,.55)!important;
    position: relative;
    /*float: left;*/
}
.banner-topspfl{
    width: 200px;
    height: 36px;
    background: red!important;
    position: absolute;
    float: left;
    margin-left: -1px;
    color: white;
    line-height: 36px;
    padding-left: 14px;
    box-sizing: border-box;
    /*text-align: center;*/
}
.banner-i{
    float: left;
}
.banner-topspfl .spfl{
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
    box-sizing: border-box;
}
.banner-left{
    width: 200px;
    height: 31.2px;
    font-size: 14px;
    color: #ffffff;
    line-height: 31.2px;
}
.banner-lefti{
    display: inline-block;
    opacity: 0.5;
    margin-left: 14px;
    margin-right: 4px;
    box-sizing: border-box;
}
.banner-leftnz{
    color: white;
}
.banner-left:hover{
    background: white;
}
.banner-left:hover .banner-leftnz,.banner-left:hover .banner-lefti{
    color: #e04577;
}
.banner-left1:hover .banner-leftnz1,.banner-left1:hover .banner-lefti1{
    color: #6347ed;
}
.banner-right{
    width: 852px;
    height: 500px;
    background: white;
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
}
.banner-left:hover .banner-right{
    display: block;
}
.banner-rightz{
    float: left;
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    overflow: hidden;
    background-color: #fff;
}
.banner-rightzz{
    width: 583px;
    height: 42px;
    /*border: 1px dotted rgba(0,0,0,.1);*/
}
.banner-djlx{
    width: 74px;
    height: 42px;
    line-height: 42px;
    float: left;
}
.banner-djlx p{
    float: left;
    color: #333333;
    font-weight: 700;
}
.banner-djlxi{
    font-size: 10px!important;
    font-weight: 100;
    color: #333333;
    line-height: 42px;
    margin-left: 4px;
    box-sizing: border-box;
}
.banner-rightzy{
    width: 493px;
    height: 42px;
    float: right;
    border-bottom: 1px dotted rgba(0,0,0,.1);
    box-sizing: border-box;
}
.banner-rightzy1{
    height: 42px;
    margin-left: 13px;
    line-height: 42px;
    box-sizing: border-box;
    color: #666666;
}
.banner-rightzy2{
    color: #427def;
}
.banner-rightzy1:hover{
    color: #427def;
}
.banner-rightzy7{
    border-bottom: none;
}
.banner-righty{
    float: left;
    width: 189px;
    padding: 10px;
    height: 480px;
    background: #fafafa;
}
.logo{
    float: left;
    width: 73px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #fff;
}
.logo:hover{
    opacity: .8;
}
.bots{
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: 30px;
    left: 530px;
    display: flex;
    justify-content: space-between;
}
.bot{
    background: #000;
    width: 25px;
    height: 5px;
    overflow: hidden;
    cursor: pointer;
    opacity: .3;
}
.bot1{
    background: #fff;
    opacity: .6;
}
.bot:hover{
    background: #fff;
    opacity: .6;
}
/*轮播图结束*/
/*轮播下图开始*/
.pictures{
    width: 1230px;
    height: 171px;
    margin: 30px auto 0;
    overflow: hidden;
}
.picture .t1{
    width: 246px;
    height: 171px;
    float: left;
}
.picture .t2{
    width: 490px;
    height: 171px;
    float: left;
}
/*轮播下图结束*/
/*图下开始*/
.plans{
    width: 1230px;
    height: 370px;
    background: white;
    margin: 30px auto 15px;
}
.plan{
    width: 234px;
    height: 370px;
    margin-right: 13px;
    float: left;
}
.plan-top{
    width: 234px;
    height: 55px;
}
.plan-topz{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 55px;
    margin-left: 10px;
    float: left;
}
.plan-topy{
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    line-height: 55px;
    margin-left: 10px;
    float: left;
}
.plan-topyi{
    display: inline-block;
    font-size: 26px!important;
    line-height: 55px;
    margin-right: 10px;
    float: right;
}
.plan-tp{
    width: 234px;
    height: 316px;
}
.plan-tp:hover{
    opacity: 0.7;
}
.plan1{
    width: 485px;
    height: 370px;
    float: left;
    margin-right: 13px;
}
.plan1-top{
    width: 485px;
    height: 55px;
}
.plan-topzi{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    float: left;
    line-height: 55px;
    margin-left: 208px;
}
.plan-topyi1{
    padding-top: 1px;
    color: #666666;
}
.plan1-bottom{
    width: 485px;
    height: 316px;
}
.plan1-tp{
    width: 485px;
    height: 316px;
}
.plan1-tp:hover{
    opacity: 0.7;
}
.plan2{
    margin-right: 0;
}
.plan-topzi1{
    margin-left: 200px;
}
/*图下结束*/
/*一堆图开始*/
.charts{
    width: 1230px;
    height: 327px;
    background: red;
    margin:  0 auto 20px;
    /*margin-bottom: 20px;*/
}
.chart{
    width: 1230px;
    height: 327px;
}
.chart-t{
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
    background: white;
    overflow: hidden;
}
.chart-img{
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 108px;
    background-color: #fff;
    overflow: hidden;
}
.chart-imgt{
    width: 82%;
    height: 50px;
    margin-top: 29px;
    box-sizing: border-box;
    overflow: hidden;
}
.chart-yc{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    /*transition: all 0.3s linear;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.chart-ycz{
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: white;
    padding-top: 16px;
    box-sizing: border-box;
}
.chart-yc1{
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.chart-yc2{
    text-align: center;
}
.chart-yc2 span{
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}
.chart-t:hover .chart-yc{
    display: block;
    transition: all 0.3s linear;
}
.chart-i{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-size: 30px!important;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
    color: #999999;
}
.chart-hyp{
    display: block;
    font-size: 14px;
    line-height: 136px;
    text-align: center;
    color: #999999;
}
.char-t1:hover{
    background: #FF0036!important;
    color: white!important;
}
/*一堆图结束*/
/*下整体结束*/